@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300;600&family=Tektur&family=Unbounded:wght@300&display=swap');
BODY {
  background-color: #fff;
  margin: 0;
  text-align: center;
}
.header {
  text-align: center;
  position: fixed;
  width: 100%;
  background-color: #fff;
  padding-top: 2px;
  z-index: 1000;
  vertical-align: middle;
}
.back-obj {
  width: 100%;
}
.back {
  font-size: 12px;
  font-weight: 600;
  font-family: 'Unbounded', cursive;
  color: #000;
  text-decoration: none;
  text-align: center;
}
.inst {
  font-family: 'Unbounded', cursive;
}
.logo {
  width: 60px;
  text-align: center;
  margin: 2px 2px 2px 2px;
}
.burger {
  width: 40px;
  text-align: center;
  margin: 2px 2px 2px 2px;
}
.cellar {
  text-align: center;
  opacity: 1;
  font-size: 12px;
  color: #000000;
  font-family: 'Unbounded', cursive;
  font-weight: 400;
  padding-bottom: 5px;
}
.cellar-url {
  text-decoration: none;
  font-size: 12px;
  color: #000000;
  font-family: 'Unbounded', cursive;
  font-weight: 400;
  padding-bottom: 5px;
}
.dead-cellar-url {
  text-decoration: none;
  font-size: 12px;
  color: #EAEAEA;
  font-family: 'Unbounded', cursive;
  font-weight: 400;
  padding-bottom: 5px;
}
.cellar-url:hover{
  text-decoration: underline;
  opacity: 0.5;
}
.dash {
  height: 1px;
  background-color: #000000;
  opacity: 0.2;
  padding: 0;
}
.hello {
  margin: 0px 10px 0px 10px;
  background-color: #7C00B2;
  padding-left: 25px;
  padding-top: 65px;
  padding-right: 25px;
}
.welcome_02 {
  margin: 10px 10px 0px 10px;
  background-color: #C22828;
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
}
.welcome_03 {
  margin: 10px 10px 0px 10px;
  background-color: #3D3D3D;
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
}
.welcome_04 {
  margin: 10px 10px 10px 10px;
  background-color: #4CA9E6;
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
}
.standart-1 {
  margin: 0px 10px 0px 10px;
  background-color: #1B1948;
  padding-left: 25px;
  padding-top: 65px;
  padding-right: 25px;
}
.house-ad {
  margin: 0px 10px 0px 10px;
  background-color: #fff;
  padding-left: 25px;
  padding-top: 65px;
  padding-right: 25px;
}
.flats {
  margin: 10px 10px 0px 10px;
  background-color: #fff;
  padding-left: 25px;
  padding-top: 0px;
  padding-right: 25px;
}
.flats-with-shadow {
  box-shadow: 0em 0em 15px rgba(122,122,122,0.3);
  transition: transform .2s;
}
.flats-with-shadow:hover {
  transform: scale(1.1);
}
.hello-title {
  font-size: 35px;
  color: #fff;
  font-family: 'Unbounded', cursive;
  font-weight: 600;
}
.standart-title {
  font-size: 35px;
  color: #fff;
  font-family: 'Unbounded', cursive;
  font-weight: 600;
}
.flats-title {
  font-size: 30px;
  color: #000;
  font-family: 'Unbounded', cursive;
  font-weight: 600;
}
.ad-title {
  font-size: 30px;
  color: #000;
  font-family: 'Unbounded', cursive;
  font-weight: 600;
}
.hello-descr {
  font-size: 15px;
  color: #fff;
  font-family: 'Unbounded', cursive;
  font-weight: 400;
}
.standart-descr {
  font-size: 15px;
  color: #fff;
  font-family: 'Unbounded', cursive;
  font-weight: 400;
}
.flats-descr {
  font-size: 15px;
  color: #000;
  font-family: 'Unbounded', cursive;
  font-weight: 400;
}
.ad-descr {
  font-size: 15px;
  color: #000;
  font-family: 'Unbounded', cursive;
  font-weight: 400;
}
.flats-old-price {
  font-size: 12px;
  text-decoration: line-through;
  color: #787878;
  font-family: 'Unbounded', cursive;
  font-weight: 400;
}
.flats-price {
  font-size: 12px;
  color: #000;
  font-family: 'Unbounded', cursive;
  font-weight: 600;
}
.hello_url {
  text-decoration: none;
  animation: pushme 7s infinite linear;
}
@keyframes pushme {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
.hello_url:hover {
  text-decoration: underline;
  opacity: 0.5;
  animation: none;
}
.index-img {
  padding-top: 10px;
  height: 150px;
  text-align: center;
  vertical-align: bottom;
  animation: rising 1s linear;
}
@keyframes rising {
  0% {
    opacity: 0;
    scale: 1.1;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
.iimg {
  animation: rot 3s ease-in-out;
}
@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.flats-img {
  padding-top: 10px;
  width: 150px;
  text-align: center;
  vertical-align: bottom;
}
.ad-img {
  padding-top: 10px;
  max-width: 300px;
  text-align: center;
  vertical-align: bottom;
}
.num-three {
  font-size: 15px;
  text-align: center;
  color: #000000;
  font-family: 'Unbounded', cursive;
  font-weight: 600;
  padding-top: 25px;
}
.oau {
  padding-left: 100px;
}
