@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Inconsolata&family=Handjet:wght@300;600&family=Tektur&family=Unbounded:wght@200;300&display=swap');

html {
  scroll-behavior: smooth;
}
BODY {
  background-color: #fff;
  margin: 0;
  text-align: center;
  scroll-behavior: smooth;
}
.header {
  text-align: center;
  position: fixed;
  width: 100%;
  background-color: #fff;
  padding-top: 2px;
  z-index: 1000;
  vertical-align: middle;
}
.back-obj {
  width: 100%;
}
.aparts-header {
  text-align: center;
}
.back {
  font-size: 12px;
  font-weight: 600;
  font-family: 'Unbounded', cursive;
  color: #000;
  text-decoration: none;
  text-align: center;
}
.inst {
  font-family: 'Unbounded', cursive;
}
.logo {
  width: 100px;
  text-align: center;
  margin: 4px 2px 2px 2px;
}
.burger {
  width: 40px;
  text-align: center;
  margin: 2px 2px 2px 2px;
}
.menu-list {
  position: fixed;
  background-color: #fff;
  z-index: 2000;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 200ms ease-in;
  -moz-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
  pointer-events: none;
  margin: 0;
  padding: 0;
  vertical-align: top;
}
.menu-list:target {
  opacity: 1;
  pointer-events: auto;
  overflow-y: auto;
}
.menu-option {
  text-align: left;
  opacity: 1;
  font-size: 18px;
  color: #000000;
  font-family: 'Unbounded', cursive;
  font-weight: 600;
  text-decoration: none;
  margin-left: 35px;
}
.menu-option-div {
  transition: transform .3s;
}
.menu-option-div:hover {
  transform: scale(1.01);
}

.cellar {
  text-align: center;
  opacity: 1;
  font-size: 12px;
  color: #000000;
  font-family: 'Unbounded', cursive;
  font-weight: 400;
  padding-bottom: 5px;
}
.cellar-url {
  text-decoration: none;
  font-size: 12px;
  color: #000000;
  font-family: 'Unbounded', cursive;
  font-weight: 400;
  padding-bottom: 5px;
}
.dead-cellar-url {
  text-decoration: none;
  font-size: 12px;
  color: #EAEAEA;
  font-family: 'Unbounded', cursive;
  font-weight: 400;
  padding-bottom: 5px;
}
.cellar-url:hover{
  text-decoration: underline;
  opacity: 0.5;
}
.dash {
  height: 0.7px;
  background-color: #000000;
  opacity: 0.2;
  padding: 0;
}
.dash-mortgage {
  padding: 2px 0px 2px 0px;
}
.menu-dash {
  height: 0.7px;
  background-color: #000000;
  opacity: 0.2;
  padding: 0;
  margin: 13px 25px 13px 25px;
}
.hello-puto {
  margin: auto;
  margin-bottom: 0;
  max-width: 320px;
  background: #CBB7AB;
  background-position: center;
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}
.hello-1 {
  margin: auto;
  max-width: 320px;
  background: #fff;
  background-position: center;
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
  animation: welcome-to-aris 7s ease-in-out infinite;
  background-size: 300%;
}
.hello {
  margin: 0px 10px 0px 10px;
  background: linear-gradient(to bottom left, rgba(255, 0, 230), rgba(0, 133, 255));
  background-position: center;
  padding-left: 25px;
  padding-top: 10px;
  padding-right: 25px;
  animation: welcome-to-aris 7s ease-in-out infinite;
  background-size: 300%;
}
@keyframes welcome-to-aris {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 170%;
  }
  60% {
    background-position: 100% 120%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.welcome_01 {
  margin: 10px 10px 0px 10px;
  background: radial-gradient(at 50% 100%, rgba(61, 61, 61) 50px, rgba(31, 31, 31) 40%, rgba(61, 61, 61) 100%);
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
}
.welcome_02 {
  margin: 10px 10px 0px 10px;
  background: linear-gradient(to bottom right, rgba(194, 40, 40), rgba(247, 85, 85));
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
}
.welcome_03 {
  margin: 10px 10px 0px 10px;
  background-color: #3D3D3D;
  background: linear-gradient(to bottom left, rgba(61, 61, 61), rgba(31, 31, 31));
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
}
.welcome_04 {
  margin: 10px 10px 10px 10px;
  background-color: #CB7520;
  background: linear-gradient(to bottom right, rgba(203, 117, 32), rgba(31, 31, 31));
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
}
.standart-1 {
  margin: 0px 10px 10px 10px;
  background-color: #1B1948;
  background: linear-gradient(to bottom right, #D875E8, #6D4CE8);
  padding-left: 25px;
  padding-top: 65px;
  padding-right: 25px;
  padding-bottom: 5px;
  animation: welcome-to-aris 7s ease-in-out infinite;
}
.standart-1Extra {
  margin: 0px 10px 10px 10px;
  background-color: #1B1948;
  background: linear-gradient(to bottom left, #E8804C, #E84C4C, #E84CE8);
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 5px;
}
.standart-2 {
  margin: 0px 10px 0px 10px;
  background-color: #000;
  padding-left: 25px;
  padding-top: 65px;
  padding-right: 25px;
  padding-bottom: 0px;
}
.standart-3 {
  margin: 10px 10px 10px 10px;
  background-color: #000;
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
}
.standart-4 {
  margin: 10px 10px 10px 10px;
  background: linear-gradient(to bottom left, rgba(255, 0, 230), rgba(0, 133, 255));
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
}

.standart-4Extra {
  margin: 10px 10px 10px 10px;
  background: linear-gradient(to bottom left, #E8804C, #E84C4C, #E84CE8);
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
}
.standart-4Extra-2 {
  margin: 10px 10px 10px 10px;
  background: linear-gradient(to top right, #D33131, #E8C54C);
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
}
.standart-4Extra-3 {
  margin: 10px 10px 10px 10px;
  background: linear-gradient(to bottom right, #31D39D, #3198D3 );
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
}
.standart-5 {
  margin: 0px 10px 0px 10px;
  background: linear-gradient(to bottom left, rgba(61, 61, 61), rgba(31, 31, 31));
  padding-left: 25px;
  padding-top: 65px;
  padding-right: 25px;
  padding-bottom: 0px;
}
.standart-6 {
  margin: 10px 10px 10px 10px;
  background-color: #fff;
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
}
.standart-7 {
  margin: 0px 10px 0px 10px;
  background: linear-gradient(to bottom left, rgba(61, 61, 61), rgba(31, 31, 31));
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 0px;
}
.house-ad {
  margin: 0px 10px 0px 10px;
  background-color: #fff;
  padding-left: 25px;
  padding-top: 85px;
  padding-right: 25px;
}
.house-ad-extra {
  margin: 0px 10px 0px 10px;
  background-color: #fff;
  padding-left: 25px;
  padding-top: 5px;
  padding-right: 25px;
}
.flats {
  margin: 0px 10px 0px 10px;
  background-color: #fff;
  padding-left: 25px;
  padding-top: 0px;
  padding-right: 25px;

}
.anchor-flats {
  padding-top: 90px;
}
.flats-with-shadow {
  box-shadow: 0em 0em 10px rgba(122,122,122,0.2);
  transition: transform .2s;
  max-width: 310px;
  margin: auto;
}
.fws-general {
  padding: 0px 0px 110px 0px;
}
.flats-with-shadow:hover {
  transform: scale(1.05);
  box-shadow: 0em 0em 10px rgba(122,122,122,0.4);
}
.hello-title {
  font-size: 35px;
  color: #fff;
  font-family: 'Unbounded', cursive;
  font-weight: 600;
}
.hello-title-1 {
  font-size: 25px;
  color: #000;
  font-family: 'Unbounded', cursive;
  font-weight: 600;
  text-align: left;
}
.standart-title {
  font-size: 35px;
  color: #fff;
  font-family: 'Unbounded', cursive;
  font-weight: 600;
}
.timeteka-text {
  font-size: 30px;
  color: #fff;
  font-family: 'Bungee Shade', cursive;
}
.timeteka h1 {
  overflow: hidden;
  border-right: .15em solid blue;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end 7;
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: blue }
}

.black-title {
  font-size: 35px;
  color: #000;
  font-family: 'Unbounded', cursive;
  font-weight: 600;
}
.history-title {
  color: #000;
  font-family: 'Unbounded', cursive;
  font-weight: 500;
  font-size: 15px;
  display: inline-block;
  text-align: right;
  margin-right: 10px;
  float: right;
}
.history-descr {
  padding-top: 10px;
  color: #000;
  font-family: 'Unbounded', cursive;
  font-weight: 300;
  font-size: 13px;
  display: inline-block;
  text-align: right;
  max-width: 200px;
  margin-right: 10px;
  float: right;
}
.history-year-title {
  color: #000;
  font-family: 'Unbounded', cursive;
  font-weight: 300;
  font-size: 80px;
  transform: rotate(90deg);
  transform-origin: left center;
  margin-left: 30px;
  opacity: 0.1;
  display: inline-block;
  float: left;
}
.keep-history {
  max-width: 320px;
  margin: auto;
}
.stats {
  margin: auto;
  max-width: 320px;
}
.company-stats-title {
  color: #000;
  font-family: 'Unbounded', cursive;
  font-weight: 600;
  font-size: 20px;
  text-align: left;
  margin-left: 10px;
}
.company-stats-house {
  color: #000;
  font-family: 'Unbounded', cursive;
  font-weight: 600;
  font-size: 15px;
  text-align: left;
  margin-left: 10px;
  padding-top: 10px;
}
.company-stats-descr {
  padding-top: 5px;
  color: #000;
  font-family: 'Unbounded', cursive;
  font-weight: 600;
  font-size: 10px;
  text-align: left;
  margin-left: 10px;
  opacity: 0.7;
}
.slider-stats-back {
  margin: 10px 10px 0px 10px;
  max-width: 300px;
  height: 30px;
  background-color: #E3E3E3;
  border-radius: 40px;
  vertical-align: middle;
}
.slider-stats-front {
  vertical-align: middle;
  height: 30px;
  background: linear-gradient(to right, rgba(25, 21, 235), rgba(232, 21, 235));
  border-radius: 40px;
}
.slider-stats-front-2 {
  vertical-align: middle;
  height: 30px;
  background: linear-gradient(to right, #1ACF08, #08CFCF);
  border-radius: 40px;
}
.stats-info {
  vertical-align: middle;
  padding-top: 6px;
  font-size: 14px;
  color: #fff;
  font-family: 'Unbounded', cursive;
  font-weight: 300;
}
.flats-title {
  font-size: 30px;
  color: #000;
  font-family: 'Unbounded', cursive;
  font-weight: 600;
}
.ad-title {
  font-size: 30px;
  color: #000;
  font-family: 'Unbounded', cursive;
  font-weight: 600;
}
.ad-title-extra {
  font-size: 30px;
  font-family: 'Unbounded', cursive;
  font-weight: 400;
}
.hello-descr {
  font-size: 15px;
  color: #fff;
  font-family: 'Unbounded', cursive;
  font-weight: 400;
}
.standart-descr {
  font-size: 15px;
  color: #fff;
  font-family: 'Unbounded', cursive;
  font-weight: 400;
}
.black-descr {
  font-size: 15px;
  color: #000;
  font-family: 'Unbounded', cursive;
  font-weight: 400;
}
.flats-descr {
  font-size: 15px;
  color: #000;
  font-family: 'Unbounded', cursive;
  font-weight: 400;
}
.complex-naming {
  font-size: 20px;
  color: #3E3E3E;
  font-family: 'Unbounded', cursive;
  font-weight: 600;
  padding: 10px 10px 10px 20px;
  text-align: left;
}
.mortgage-naming {
  font-size: 20px;
  color: #3E3E3E;
  font-family: 'Unbounded', cursive;
  font-weight: 600;
  padding: 10px 10px 10px 20px;
  text-align: left;
}
.mortgagepercents {
  font-size: 11px;
  color: #3E3E3E;
  opacity: 0.8;
  font-family: 'Unbounded', cursive;
  font-weight: 600;
  padding: 2px 10px 10px 20px;
  text-align: left;
}
.mortgagedescr {
  font-size: 11px;
  color: #3E3E3E;
  opacity: 0.9;
  font-family: 'Unbounded', cursive;
  font-weight: 300;
  padding: 2px 10px 10px 20px;
  text-align: left;
}
.complex-naming-in-aparts {
  font-size: 15px;
  color: #3E3E3E;
  font-family: 'Unbounded', cursive;
  font-weight: 600;
  padding: 5px 10px 10px 20px;
  text-align: left;
  display: inline-block;
  float: left;
}
.apart-naming-in-aparts {
  font-size: 12px;
  color: #3E3E3E;
  font-family: 'Unbounded', cursive;
  font-weight: 500;
  padding: 5px 10px 10px 20px;
  text-align: left;
  display: inline-block;
  float: left;
}
.table-aparts-info-keeper {
  padding: 5px 10px 10px 20px;
  display: inline-block;
  float: left;
}
.table-aparts-info {
  font-size: 11px;
  color: #888888;
  font-family: 'Unbounded', cursive;
  font-weight: 500;
}
.table-aparts-info td {
  padding: 5px 0px 5px 0px;
  border-bottom: 1px dotted;
}
#left {
  text-align: left;
}
#right {
  text-align: right;
  padding-left: 10px;
}
.image-in-aparts {
  display: inline-block;
  padding: 0px 10px 5px 0px;
  float: right;
}
.complex-info {
  font-size: 11px;
  color: #888888;
  font-family: 'Unbounded', cursive;
  font-weight: 400;
  text-align: left;
}
.complex-class-keeper {
  text-align: left;
}
.complex-class {
  font-size: 11px;
  color: #fff;
  font-family: 'Unbounded', cursive;
  font-weight: 400;
  padding: 3px 5px 3px 5px;
  max-width: 150px;
  margin: 0px 5px 0px 5px;
  display: inline-block;
}
.complex-class-2 {
  font-size: 11px;
  color: #fff;
  font-family: 'Unbounded', cursive;
  font-weight: 500;
  background-color: #46C563;
  padding: 3px 3px 3px 3px;
  max-width: 160px;
  margin: 0px 5px 0px 5px;
}
.complex-class-3 {
  font-size: 11px;
  color: #fff;
  font-family: 'Unbounded', cursive;
  font-weight: 500;
  background-color: #DC4545;
  padding: 3px 3px 3px 3px;
  max-width: 120px;
  margin: 5px 5px 0px 5px;
}
.complex-class-4 {
  font-size: 11px;
  color: #fff;
  font-family: 'Unbounded', cursive;
  font-weight: 500;
  background-color: #4C93E8;
  padding: 3px 3px 3px 3px;
  max-width: 150px;
  margin: 0px 5px 0px 5px;
}
.complex-class-5 {
  font-size: 11px;
  color: #fff;
  font-family: 'Unbounded', cursive;
  font-weight: 500;
  background-color: #868686;
  padding: 3px 3px 3px 3px;
  max-width: 140px;
  margin: 0px 5px 0px 5px;
}
.complex-class-6 {
  font-size: 11px;
  color: #fff;
  font-family: 'Unbounded', cursive;
  font-weight: 500;
  background-color: #7E6047;
  padding: 3px 3px 3px 3px;
  max-width: 140px;
  margin: 5px 5px 0px 5px;
}

.ad-descr {
  font-size: 15px;
  color: #000;
  font-family: 'Unbounded', cursive;
  font-weight: 400;
}
.mg-descr {
  font-size: 13px;
  color: #000;
  font-family: 'Unbounded', cursive;
  font-weight: 300;
}
.flats-old-price {
  font-size: 12px;
  text-decoration: line-through;
  color: #787878;
  font-family: 'Unbounded', cursive;
  font-weight: 400;
}
.flats-price {
  font-size: 12px;
  color: #434998;
  font-family: 'Unbounded', cursive;
  font-weight: 600;
}
.flats-price-aparts {
  font-size: 12px;
  color: #434998;
  font-family: 'Unbounded', cursive;
  font-weight: 600;
  text-align: left;
  padding-left: 20px;
}
.hello_url {
  text-decoration: none;
  animation: pushme 7s infinite linear;
}
.flats-href {
  text-decoration: none;
  color: #787878;
  font-size: 12px;
  font-family: 'Unbounded', cursive;
  font-weight: 500;
}
.flats-href:hover {
  text-decoration: underline;
}

@keyframes pushme {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.hello_url:hover {
  text-decoration: underline;
  opacity: 0.5;
  animation: none;
}
.index-img {
  padding-top: 10px;
  height: 150px;
  text-align: center;
  vertical-align: bottom;
  animation: rising 1s linear;
}
@keyframes rising {
  0% {
    opacity: 0;
    scale: 1.1;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
.iimg {
  animation: rot 3s ease-in-out;
}
@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.flats-img {
  padding-top: 10px;
  text-align: right;
  vertical-align: bottom;
}
.houses-img {
  max-width: 220px;
  padding-top: 10px;
  text-align: right;
  vertical-align: bottom;
}
.photokeeper {
  text-align: left;
}
.selector-of-flats {
  background-color: #D2E3FF;
  font-size: 12px;
  font-family: 'Unbounded', cursive;
  font-weight: 700;
  width: 250px;
  height: 15px;
  padding: 10px 10px 10px 10px;
  vertical-align: middle;
}
.selector-of-flats-url {
  text-decoration: none;
  vertical-align: middle;
  color: #336CCA;
}
.selector-of-flats:hover {
  background-color: #336CCA;
  transition: 0.5s;
  color: #D2E3FF;
}
#apart {
  color: #336CCA;
  padding-left: 20px;
}
#price {
  color: #000;
  padding-left: 10px;
}
#to {
  color: #336CCA;
  font-weight: 500;
  padding-left: 20px;
}
.flats-bottom-url {
  background-color: #fff;
  font-size: 10px;
  text-decoration: none;
  font-family: 'Unbounded', cursive;
  font-weight: 700;
  max-width: 310px;
  height: 15px;
  padding: 10px 10px 10px 10px;
  vertical-align: middle;
}
.flats-bottom-url:hover {
  transition: 0.5s;
  background-color: #D2E3FF;

}
.partners-img {
  max-width: 150px;
  max-height: 100px;
}
.ad-img {
  padding-top: 10px;
  max-width: 210px;
  min-width: 100px;
  height: auto;
  text-align: center;
  vertical-align: bottom;
}
.num-three {
  font-size: 15px;
  text-align: center;
  color: #000000;
  font-family: 'Unbounded', cursive;
  font-weight: 600;
  padding-top: 25px;
}
.oau {
  padding-left: 100px;
}
.many-rooms {
  padding: 25px 25px 25px 25px;
}
.many-rooms-url {
  font-size: 13px;
  text-align: center;
  color: #4F4F4F;
  font-family: 'Unbounded', cursive;
  font-weight: 600;
  text-decoration: none;
  margin: 25px 25px 25px 25px;
}
.many-rooms-url-head {
  font-size: 13px;
  text-align: center;
  color: #4F4F4F;
  font-family: 'Unbounded', cursive;
  font-weight: 600;
  text-decoration: none;
  margin: 5px 5px 5px 5px;
}
.many-rooms-url:hover {
  text-decoration: underline;
  opacity: 0.5;
}
.room-keeper {
  margin: 25px 25px 25px 25px;
}

#container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.companies-list {
  font-size: 13px;
  text-align: center;
  color: #000;
  font-family: 'Unbounded', cursive;
  font-weight: 300;
}
.column-1 {
  display: inline-block;
  height: 30px;
  width: 30px;
  border: 2px solid;
  border-bottom: none;
  border-color: #fff;
  animation: column1 1s ease-in-out;
}
@keyframes column1 {
  0% {
    height: 0px;
    opacity: 0.7;
  }
  100% {
    height: 30px;
    opacity: 1;
  }
}
.column-2 {
  display: inline-block;
  height: 70px;
  width: 30px;
  border: 2px solid;
  border-color: #fff;
  border-bottom: none;
  margin: 0px 10px 0px 10px;
  animation: column2 1.5s ease-in-out;
}
@keyframes column2 {
  0% {
    height: 0px;
    opacity: 0.7;
  }
  100% {
    height: 70px;
    opacity: 1;
  }
}
.column-3 {
  display: inline-block;
  height: 110px;
  width: 30px;
  border: 2px solid;
  border-color: #fff;
  border-bottom: none;
  margin-right: 10px;
  animation: column3 2s ease-in-out;
}
@keyframes column3 {
  0% {
    height: 0px;
    opacity: 0.7;
  }
  100% {
    height: 110px;
    opacity: 1;
  }
}
.column-4 {
  display: inline-block;
  height: 150px;
  width: 30px;
  border: 2px solid;
  border-color: #fff;
  border-bottom: none;
  animation: column4 2.5s ease-in-out;
}
.column-ghost {
  display: inline-block;
  height: 170px;
  width: 1px;
}
@keyframes column4 {
  0% {
    height: 0px;
    opacity: 0.7;
  }
  100% {
    height: 150px;
    opacity: 1;
  }
}
.column-keeper {
  height: 170px;
}
.money_keeper {
  padding-top: 35px;
  font-size: 75px;
  text-align: center;
  background-image: linear-gradient(to left, rgba(25, 21, 235), rgba(232, 21, 235));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 600;
  font-family: 'Inconsolata', monospace;
}
.future_money_keeper {
  padding-top: 35px;
  font-size: 35px;
  text-align: center;
  background: #fff;
  opacity: 0.5;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 600;
  font-family: 'Inconsolata', monospace;
  display: inline-block;
  float: left;
}
.old_money_keeper {
  padding-top: 5px;
  font-size: 35px;
  text-align: center;
  background: #fff;
  opacity: 0.5;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 600;
  font-family: 'Inconsolata', monospace;
  display: inline-block;
  float: left;
}
.plus {
  margin-left: 15px;
  width: 37px;
  height: 37px;
  font-size: 30px;
  font-weight: 200;
  text-align: center;
  color: #fff;
  background: linear-gradient(to right, rgba(25, 21, 235), rgba(232, 21, 235));
  font-family: 'Unbounded', cursive;
  display: inline-block;
  border-radius: 20px;
  float: right;
  transition: transform 0.2s;
  animation: mortgage_pushme 2s ease-in-out infinite;
}
@keyframes mortgage_pushme {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}
.minus {
  margin-left: 15px;
  width: 37px;
  height: 37px;
  font-size: 30px;
  font-weight: 200;
  text-align: center;
  color: #fff;
  background: linear-gradient(to right, rgba(25, 21, 235), rgba(232, 21, 235));
  font-family: 'Unbounded', cursive;
  display: inline-block;
  border-radius: 20px;
  float: right;
  transition: transform 0.2s;
  animation: mortgage_pushme 2s ease-in-out infinite;
  margin-top: 40px;
}
.minus:hover {
  opacity: 0.9;
  transform: scale(0.95);
}
.plus:hover {
  opacity: 0.8;
  transform: scale(0.95);
}
.mortgage-plus-minus {
  padding: 20px 0px 40px 0px;
  max-width: 320px;
  margin: auto;
}
.animation_changed {
  animation: changed 0.2s ease-in-out;
}
@keyframes changed {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.mortgage_main_background {
  background: linear-gradient(to bottom left, rgba(255, 0, 230), rgba(0, 133, 255));
  padding-bottom: 3px;
  margin-bottom: 10px;
}

.slider-container {
  position: relative;
  max-width: 500px;
  width: 100%;
    text-align: center;
  overflow: hidden;
}

.slider {
  width: 100%;
  text-align: center;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider img {
  width: 100%;
  text-align: center;
  object-fit: cover;
}

.prev-button,
.next-button {
  display: inline-block;
  float: left;
  z-index: 20
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height:30px;
  background-color: rgba(255,255,255, 0.7);
  backdrop-filter: blur(3px);
  border: none;
  font-size: 24px;
  color: black;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}
.apart-rooms {
  display: inline-block;
  padding: 10px 10px 10px 10px;
  background: #EEEEEE;
  color: #D80000;
  width: 25px;
  font-family: 'Unbounded', cursive;
  font-size: 20px;
}
.apart-class {
  margin: 15px 0px 0px 0px;
  display: inline-block;
  padding: 5px 5px 5px 5px;
  background: #EEEEEE;
  color: #D80000;
  width: 108px;
  font-family: 'Unbounded', cursive;
  font-weight: 500;
  font-size: 12px;
}
#apart-comfort {
  background: #D80000;
  color: #EEEEEE;
}
.filter-margin {
  padding-left: 30px;
}
#studi {
  display: none;
}
#one {
  display: none;
}
#two {
  display: none;
}
#three {
  display: none;
}
#four {
  display: none;
}
